/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Pizza Order Style Sheet
   Author: Juozas Kripas
   Date:   3/3/2016

   Filename:         pizza.css
   Supporting Files: delivery.png, okay.png, warning.png

*/


fieldset{
    background-color: rgb(255,246,205);
    border: 1px rgb(233,69,0);
    float: left;
    margin: 1%;
}

#custInfo{
    width: 35%;
}
#buildPizza{
    width: 60%;
}
#meat, #vegetables{
    width: 47%;
    background-color: rgb(237,178,74);
}
fieldset legend{
    font-size: 0.9em;
}