/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Pizza Order Style Sheet
   Author: Juozas Kripas
   Date:   3/3/2016

   Filename:         pizza.css
   Supporting Files: delivery.png, okay.png, warning.png

*/


