/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Pizza Order Style Sheet
   Author: Juozas Kripas
   Date:   3/3/2016

   Filename:         pizza.css
   Supporting Files: delivery.png, okay.png, warning.png

*/


fieldset{
    background-color: rgb(255,246,205);
    border: 1px rgb(233,69,0);
    float: left;
    margin: 1%;
}

#custInfo{
    width: 35%;
}
#buildPizza{
    width: 60%;
}
#meat, #vegetables{
    width: 47%;
    background-color: rgb(237,178,74);
}
fieldset legend{
    font-size: 0.9em;
}
label{
    display: block;
    font-size: 0.8em;
    clear: left;
    float: left;
    width: 40%;
    margin: 5px 0px 5px 0px;
}

input, textarea{
    display: block;
    float: left;
    width: 50%;
    margin: 5px 0px 5px 0px;
}
textarea{
    height: 100px;
}
form img{
    display: block;
    float: left;
    margin: 5px 0px 5px 0px;
}
#delTime{
    width: 150px;
}
#sizeimage{
    margin-left: 40%;
}
#size{
    width: 200px;
    background-color: rgb(255,255,255,0.6);
}
#crust{
    float: left;
    font-size: 0.8em;
    margin: 5px 0px 5px 0px;
    width: 150px;
}
#quantity{
    width: 40px;
}
fieldset.optionGroup{
    width: 50%;
    border: none;
    background-color: transparent;
}
 input[type="radio"]{
    width: 30px;
}

input[type="checkbox"]{
    width: 20px;
}
input[type="submit"]{
    width: 150px;
    float: none;
    margin: 0px auto 0px auto;
}
 textarea:focus{
    background-color: rgb(220,255,220);
}
select:focus{
    background-color:rgb(220,255,220);
}
input:focus{
    background-color:rgb(220,255,220); 
}